body{
	margin: 0;
	background-color: #B5C6CD;
}

div.masthead{
	width: 100%;
	height:  120px;
	background-color: #3F4D53;
}

div.logo{
	width: 25%;
	height:  120px;
	min-width : 164px;
	max-width: 260px;
	margin-left: 10px;
	#background-color: red;
	display: inline-block;
	
	text-align: center;
	font-size: 3em;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	line-height: 115px;
	color: white;
	letter-spacing: 0.1em;
	
	
}

div.user-login{
	width: 23%;
	height:  220px;
	min-width : 192px;
	max-width: 240px;

	margin-right: 10px;
	#background-color: red;
	display: inline-block;
	float: right;
	
	
}

button.user-logged-out-button{
	width: 43%;
	height : 50px;
	max-width: 80px;
	margin: 5px;
	margin-right: 3.3%;
	#background-color: blue;
	background-color: #3F4D53;
	border: none;
	cursor: pointer;
	border-radius: 60%;
	outline: none;
  
	font-size: 1.1em;
	color: #FFCF91;
	
	margin-top: 30px;
	
}

button.user-logged-in-button{
	width: 90%;
	height : 50px;
	margin: 5px;
	margin-right: 3.3%;
	#background-color: blue;
	background-color: #3F4D53;
	border: none;
	cursor: pointer;
	border-radius: 30%;
	outline: none;
  
	font-size: 1.1em;
	color: #FFCF91;
	margin-top: 30px;
	text-overflow: ellipsis;
	overflow: hidden;

	
}

div.login-form{
	width: 330px;
	min-width: 320px;
	height : 20%;
	min-height: 165px;
	background-color: #ADC5D1;
	#background-color: red;
	border: 1px solid #3F4D53;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	padding-top: 20px;
	
	text-align: center;


}

div.login-settings{
	width: 80%;
	height : 30%;
	margin: 0 auto;
	background-color: #ADC5D1;
	border: 1px solid black;
	position: relative;

	text-align: center;
	line-height: 45px;
}

a.login-settings{
    font-size: 1.2em;
	color: white;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: none;
}









