<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
		
		<link rel="stylesheet" type="text/css" href="base_css.css">
		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
	</head>
    <body>
	<div class = "masthead">
		<div class = "logo">
			TO-DO
		</div>
		
		<div class = "user-logged-out">
			<button class = "user-logged-out-button"> Log in </button>
			<button class = "user-logged-out-button"> Sign up </button>
		</div>
	</div>

    </body>
</html>