{% load static  %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tistle</title>
		
		<link rel="stylesheet" type="text/css" href="{% static 'base_css.css' %}">
		<link rel="stylesheet" type="text/css" href="base_css.css">
		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
	</head>
    <body>
	<div class = "masthead">
		<div class = "logo">
			TO-DO
		</div>
		<div class = "user-login">
		{% block content %}

            replace me

		{% endblock %}
		</div>
	</div>
	<div class = "login-settings" id="login-f" style="display: none">


	</div>

	<div class = "login-form">

		{% block content_body %}

            replace me

		{% endblock %}
		
	</div>

	<script>
		function loginSettingsDisplay() {
		  var x = document.getElementById("login-f");
		  if (x.style.display == "none") {
		  	x.style.display = "block";
		  } else {
				x.style.display = "none";
		  }
		}
</script>

    </body>
</html>